.InvitationbuttonContainer {
    /* width: 350px; */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color:#326087;
    background-color: #F0F1D5;
    padding: 0 5px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

.InvitationbuttonContainer div:first-child{
    padding: 0 10px;
}

.InvitationbuttonContainer:hover{
    cursor: pointer;
}

.IndicationCircle{
    width: 10px;
    height: 10px;
    border:1px solid black;
    background-color:#F19722;
    border-radius: 50%;
}


