.Match {
    margin-bottom: 5px;
    width: 100%;
    height: 150px;
    display: inline-block;
    box-sizing:border-box;
    border: 2px solid #326087;
    border-radius: 5px;
    text-decoration: none;
    color:#326087;
    text-align: center;
    background-color: white;
}

.ShowOptions {
    opacity: 1;
    width: 20px;
    overflow: hidden;
    transition: opacity 1s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
}

.Options{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.Year{
    font-size:0.5em;
}
.HideOptions {
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.MoreOptions{
    /* width:20px; */
    color:  #326087;
    text-align:left;
    display: flex;
    flex-direction: row-reverse;
    display: block;
}

.MoreButton{
    height: 20px;
    /* width: 20px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2px;
}

.MoreButton:hover{
    cursor: pointer;
}

.Opponent{
    color: #326087;
}

.OpponentName:hover,
.GameDate:hover,
.Score:hover{
    cursor: pointer;
}
.OpponentName {
    font-size:1rem;
    font-weight: bold;
    margin: 0 3px 0 3px;
}
.CloseButton {
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    background-position: center;
    background-size: contain;
    margin-top: 8px;
}

.GameDate {
    background-color: #326087;
    color: white;
    border: solid #326087;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.GameDate div:nth-child(1){
    font-size: 1.5rem;
}

.Score{
    font-size: 1.5rem;
    font-weight: bold;
}

@supports(grid-area: auto) {

    .Match{
        display: grid;
        grid-template-columns: 100px 5fr 1fr;
        grid-template-rows: 3;
    }

    .GameDate{
        grid-column: 1;
        grid-row: 1/4;
    }

    .OpponentName{
        grid-column: 2/4;
        grid-row:2/3;
    }

    .Score{
        grid-column: 2/4;
        grid-row: 3/4;

    }

    .MoreOptions{
        grid-column: 3/4;
        grid-row:1/2;
    }

    .Options{
        grid-column: 2/3;
        grid-row: 1;
    }
    @media(min-width: 650px) {
        .Match {
            width:100%;
            display: grid;
            /* grid-template-columns:  */
        }
    }
}