.Match{

}

.OpponentName{

}

.GameDate{
    background-color:#105187;
    color:white;
    border: solid #105187;
    border-width: 0 3px 0 3px;
}

.Match:hover{
    cursor: pointer;
}

@media(min-width: 600px){
    .Match{
        width:100%;
    }
}
