.Match {
    margin-bottom: 5px;
    width: 100%;
    height: 150px;
    display: inline-block;
    box-sizing:border-box;
    border: 2px solid #105187;
    border-radius: 5px;
    text-decoration: none;
    color:#105187;
    text-align: center;
}

.ShowOptions {
    height: 30px;
    width: 100%;
    overflow: hidden;
    transition: height 1s;
    cursor: pointer;
    background-repeat: no-repeat;
}

.Options{
    height: 30px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

year{
    font-size:0.5em;
}
.HideOptions {
    height: 0px;
    overflow: hidden;
    width: 100%;
    transition: max-height 1s;
}
.MoreOptions{
    width:100%;
    color:  #105187;
    text-align:left;
    display: flex;
    flex-direction: row-reverse;
}

.MoreButton{
    height: 100%;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 2px;
}

.Opponent{
    color: #105187;
}

.OpponentName:hover,
.GameDate:hover,
.Score:hover{
    cursor: pointer;
}
.OpponentName {
    font-size:1rem;
    font-weight: bold;
}




.CloseButton {
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    float: right;
    background-position: center;
    background-size: contain;
    margin-top: 8px;
}

/* .OptionField{
    height: 50px;
} */

.GameDate {
    background-color: #105187;
    color: white;
    border: solid #105187;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.GameDate div:nth-child(1){
    font-size: 1.5rem;
}

/* .Match:hover {
    cursor: pointer;
} */

.Score{
    font-size: 1.5rem;
    font-weight: bold;
}

@supports(grid-area: auto) {

    .Match{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 3;
    }

    .GameDate{
        grid-column: 1;
        grid-row: 1/4;
    }
    @media(min-width: 650px) {
        .Match {
            width:100%;
            display: grid;
            /* grid-template-columns:  */
        }
    }
}