.AddPlayersToMatch{
    width: 80%;
    background-color: #F0F1D5;
    z-index: 105;
    max-width: 650px;
    margin: 0 auto;
    min-width: 350px;
    position: absolute;
    align-self: center;
    height: 500px;
}

.Header{
    width: 100%;
    /* height: 50px; */
    background-color: #C33325;
    text-align: center;
    color: #F0F1D5;
    font-size: 1.5rem;
    padding-top:15px;
    padding-bottom:15px;
}

.PlayerButtons{
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    height: 80%;
    align-items: center;
    overflow: scroll;

}

.PlayerButtons div{
    float: none;
}

.Hide{
    display: none;
}

@supports(grid-area: auto){
    .AddPlayersToMatch{
        grid-column: 2;
        grid-row: 1/4;
    }

    @media screen and (min-width: 650px){
        .AddPlayersToMatch{
            position: initial;
            align-self: initial;
        }

    }
    
    @media screen and (min-width: 1100px){
        .AddPlayersToMatch{
            grid-column: players/matches;
        }
    }
}