li a{
    text-decoration: none;
    font-size:1rem;
    color:#C33325;
    height: 100%;
    width: 100%;
}

.Breadcrumb{
    display: block;
    float: left;
    transition-duration: 0.5s;
    border:0.5px solid #105187;
    padding: 0.5rem;
    position:relative;
    margin-right: 0.5rem;
    text-decoration: none;
    background: #F0F1D5;
    color:#C33325;
    min-width: 70px;
}

<<<<<<< HEAD
.Breadcrumb:hover,
.Breadcrumb li:hover{
=======
li:hover,
li:hover a
{
>>>>>>> 45f335bbc868c3053420c6cb6a51f12fe6a67045
    cursor:pointer;
    background:#105187;
    color:#F0F1D5;
}

<<<<<<< HEAD
.Breadcrumb ul li{
    clear: both;
    width: 100%;
    margin-top:0.5rem;
=======
a.active{
    background:#105187;
    color:#F0F1D5;
>>>>>>> 45f335bbc868c3053420c6cb6a51f12fe6a67045
}

li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1.6rem;
    left: 0;
    display: none;
  }
  
.Breadcrumb:hover li > ul,
.Breadcrumb li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    width:100%
  }

  .Active{
    background:#105187;
    color:#F0F1D5;
  }
  
/* li ul li {
    clear: both;
    width: 100%;
    margin-top:0.5rem;
  } */