li a{
    text-decoration: none;
    font-size:1rem;
    color:#C33325;
    height: 100%;
    width: 100%;
}

.Breadcrumb{
    display: block;
    float: left;
    transition-duration: 0.5s;
    border:0.5px solid #105187;
    padding: 0.5rem;
    position:relative;
    margin-right: 0.5rem;
    text-decoration: none;
    background: #F0F1D5;
    color:#C33325;
    min-width: 25px;
    opacity: 0.5;
    z-index: 106;
    margin-top: 2px;
    
}

.Breadcrumb:hover,
.Breadcrumb li div:hover{
    cursor:pointer;
    background:#105187;
    color:#F0F1D5;
}

.Breadcrumb ul li{
    clear: both;
    width: 100%;
    margin-top:0.5rem;
}

li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1.6rem;
    left: 0;
    display: none;
  }
  
.Active:hover li > ul,
.Active li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    width:100%
  }

  .Active,
  .Active li ul .Breadcrumb{
    /* background:#105187;
    color:#F0F1D5; */
    opacity: 1;
  }

  .Hide{
      visibility: hidden;
  }
  
/* li ul li {
    clear: both;
    width: 100%;
    margin-top:0.5rem;
  } */

  @media(min-width:600px){
    .Breadcrumb ul li{
    }
  }