.Countdown{
    width: 100%;
    max-width: 300px;
}

.TimeBlock{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 50px;
    background-color: #326087;
    color:#bfbfad;
    justify-content: center;
    border-radius:3px;
}


@supports(grid-area: auto){
    .Countdown{
        display: grid;
        grid-gap:0.5rem;
        grid-template-areas: 
        "year month" 
        "year month" 
        "day hour" 
        "day hour" 
        "minutes seconds"
        "minutes seconds"
    }

    .TimeBlock:nth-child(1){
        grid-area: year;
    }
    .TimeBlock:nth-child(2){
        grid-area: month;
    }
    .TimeBlock:nth-child(3){
        grid-area: day;
    }
    .TimeBlock:nth-child(4){
        grid-area:hour;
    }
    .TimeBlock:nth-child(5){
        grid-area:minutes;
    }
    .TimeBlock:nth-child(6){
        grid-area:seconds;
    }

    @media screen and (min-width: 650px) {
        .MatchDetailsContainer{
            /* justify-content: center; */
            position: initial;
        }
    }
}