.MatchDetailsContainer{
    width: 300px;
    background-color: white;
    z-index: 101;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 0 auto;
    position: absolute;
    color:black;
}

.OpponentName{
    font-size: 1.2rem;
}

.Section{
    display: flex;
    justify-content: space-between;
}

.Location{

}

.GameData{
    
}

.LabelContainer{
    /* width: 80%; */
}
@supports(grid-area: auto){
    .MatchDetailsContainer{
        grid-row: 1/4;
        grid-column: 2/3;
        justify-self:center;
        align-self: center;
    }

    @media screen and (min-width: 650px) {
        .MatchDetailsContainer{
            /* justify-content: center; */
            position: initial;
        }
    }
}