.MatchDetailsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 2rem;
}

.OpponentName{
    font-size: 1.2rem;
}

.Section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3px 0 20px 0;
}

.Section div:first-child{
    margin-right: 30px;
    font-weight: bold;
}

.GameData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LabelContainer{
    /* width: 80%; */
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.Section div:nth-child(2){
    margin: 0 auto;
    text-align: right;
}
@supports(grid-area: auto){
    .MatchDetailsContainer{
        grid-row: 1/4;
        grid-column: 2/3;
        justify-self:center;
        align-self: center;
    }
    .DeleteButton{
        grid-row:3/4;
    }

    @media screen and (min-width: 321px){
        .MatchDetailsContainer{
            height: initial;
        }

        .Section{
            flex-direction: row;
        }

        .Section div:nth-child(2){
            margin: 0;
        }
    }

    @media screen and (min-width: 600px) {
        .MatchDetailsContainer{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 110px 50px 50px;
            justify-items: center;
        }
        .LabelContainer{
            grid-row:1/2;
            grid-auto-columns: 1/2;
        }
    }
}