select option{
    height: 2rem;
}

.Title{
    font-weight: bold;
    margin-right: 1rem;
}

.SeasonSelection{
    display: flex;
    align-items: center;
}

@supports(grid-area: auto){
    @media(min-width: 650px){
        .SeasonSelection{
            grid-area: season;
        }
    }

    @media screen and (min-width: 1200px){
        .SeasonSelection{
            grid-area: season;
        }
    }
}