.PlayersBlock{


}

.Players h1{
    font-size: 1.1rem;
}

.Players{
    width:100%;
}

@media(min-width: 650px){
    .PlayersBlock{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: flex-start;
    }
}