.PlayersBlock{
    display: inline-flex;
    flex-flow: column;
}

.Players h1{
    font-size: 1.1rem;
}

.Players{
    width:100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media(min-width: 650px){
    .PlayersBlock{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
    }

    .Players{
        grid-area: players;
        display: inline-block;
    }
}