.PlayersBlock{
    display: inline-flex;
    flex-flow: column;
}

.Players h1{
    font-size: 1.1rem;
}

.Players{
    width:100%;

}

@media(min-width: 650px){
    .PlayersBlock{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-content: flex-start;
    }

    .Players{
        width:50%;
        margin: 0 auto;
        display: inline-block;
        vertical-align: top;
    }
}