.PlayerButton {
    width: 300px;
    height: 100px;
    color: #F0F1D5;
    background-color: #326087;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    font-size: 1em;
    align-content: stretch;
    align-items: stretch;
    margin-right: 1rem;
}

.PlayerButtonContainer{
    display: flex;
    flex-direction: column;
}

.CloseButton {
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    float: right;
    z-index: 1;
    background-position: center;
    background-size: contain;
    margin-top: 8px;
}

.CloseButton:hover {
    cursor: pointer;
}

.HideCloseButton {
    opacity: 0;
}

.ShowCloseButton {
    opacity: 1;
    transition: opacity 1s;
}

.PlayerButton .Image {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-right: 5px;
}

.PlayerButton img {
    width: 50px;
    height: 50px;
    display: flex;
    margin: 5px;
    left: 0;
    border: 1px solid white;
    border-radius: 50%;
}

.PlayerButton .Name {
    display: flex;
    padding-top: 3px;
    flex-grow: 2;
    align-items: center;
}

.PlayerNumber {
    width: 10%;
    text-align: center;
    display: flex;
    vertical-align: middle;
    color: #C33325;
    background-color: #F0F1D5;
    border-radius: 0 5px 5px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Red {
    background-color: #C33325;
    border: 1px solid #C33325;
}

.Green {
    background-color: #2C8693;
    border: 1px solid #2C8693;
}

.Avatar {
    margin-left: 5px;
}

.HoverOptions {
    width: 300px;
    height: 30px;
    display: inline-block;
}

@media(min-width: 650px) {
    .PlayerButton {
        width: 300px;
    }
    .HoverOptions {
        width: 300px;
    }
}