.PlayerButton{
    width: 300px;
    height: 100px;
    color: #F0F1D5;
    background-color: #105187;
    border-radius: 5px;
    margin: 5px 2px;
    display: table;
    box-sizing: border-box;
    font-size:1em;
    vertical-align: middle;
    float:right;
    margin-right:0;
}

.PlayerButton .Image{
    display: table-cell;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.PlayerButton img{
    width: 50px;
    height: 50px;
    display: table-cell;
    margin: 5px;
    left:0;
    border: 1px solid white;
    border-radius: 50%;
}

.PlayerButton .Name{
    display:table-cell;
    height: 35px;
    width:200px;
    padding-top: 3px;
    vertical-align: middle;
}

.PlayerNumber{
    height: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #C33325;
    background-color: #F0F1D5;
;
}