.TeamForm{
    margin: 0 auto;
    background-color: #bfbfad;
    padding:20px;
    border-radius: 5px;
    height: 100%;
}

.Teamform, label{
    display: block;
    padding-top: 5px;
}

.Teamform{
    display: block;
    height: 20px;
    width:300px;
    border-radius: 5px;
}

.Teamform, input:hover{
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
}

