.TeamView{
    width: 100%;
    background-color:#F0F1D5;
    text-align: center;
    display: flex;
    justify-content: center;

}
.Tekst{
    vertical-align: middle;
    color: #C33325;
    height: 100%;
}
@media(min-width:650px){
    .TeamView{
        width:100%;
    }
}