.SelectTeamButton{
    background-color: #F19722;
    width: 100%;
    padding: 3px;
    min-height: 50px;
    border-radius: 5px;
    margin: 5px;
    color:#326087;
    border:1px solid #326087;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.SelectTeamButton:hover{
    cursor: pointer;
}

.Link{
    text-decoration: none;
}