.MatchCenter {
    margin: 0 auto;
}

.Menu{
    height: 50px;
    background-color: #C33325;
}

.MenuButtons{
    position:relative;
    width: 33.3%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: top;
}

.MenuButtons div{
    position:absolute;
    top: 50%;
    color:#F0F1D5;
    height:25px;
    margin-top:-12.5px;
    display: inline-block;
}

.MenuButtons:nth-child(1):hover,
.MenuButtons:nth-child(3) div:nth-child(2):hover,
.MenuButtons:nth-child(3) div:nth-child(3):hover{
    background: rgb(191, 103, 92);
    cursor: pointer;
}

.MenuButtons:nth-child(3) div{
    width:33.3%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-top: -25px;
    font-size:2rem;
    padding-top:6px;
    height: 100%;
}

.PlayersField {
    width: 100%;
    /* min-width: 350px; */
    height: 600px;
    background-color: #2C8693;
}

.PlayersFieldTitle {
    height: 50px;
    background-color: #105187;
    color: #F0F1D5;
    text-align: center;
}

.MatchTitle {
    display: inline-block;
    /* margin-top: 10px; */
    width: 50%;
}

.MatchTitle h2{
    margin-top: 10px;
}

.PlayersFieldNames {
    display: flex;
    flex-wrap: wrap;
}

.PlayersFieldName {
    height: 100px;
    width: 50%;
    border: 1px solid #105187;
    box-sizing: border-box;
}

.Score{
    display: inline-block;
    font-size: 1.3rem;
    width: 25%;
    font-weight: bold;
    font-size: 2rem;
}

@media(min-width:600px) {
    .PlayersField {
        width: 500px;
    }
}