.DrawerToggle {
    width: 40px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    margin: 4px;
    background-color: #F0F1D5;
}

@media (min-width: 600px) {
    .DrawerToggle {
        display: none;
    }
}