.RankingBox{
    /* max-width: 300px; */
    margin: 5px;
    display: grid;
    border: 3px solid #326087;
    color: #326087;
    border-radius: 5px;
    width: 375px;
    position: relative;
    transition: 5s;
    left: 100vw;
}

.RankingContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.RankingBox.SlideIn{
    left:0vw;
}

/* @keyframes slideIn{
    0%{left:100vw}
    100%{left: 0vw}
} */


.PlaceColumn, .GoalsColumn, .AttendanceColumn{
    text-align: center;
}

.CountColumn{
    overflow: hidden;
    text-align: center;
}

.Header{
    font-weight: bold;
    margin-top: 1em;
    font-size: 0.8em;
}

@supports(grid-area: auto){
    .RankingBox{
        grid-column: 1/3;
        grid-column-gap: 1em;
        grid-row-gap: 0.5em;
        grid-template-columns: 6em 2fr 5em;
        grid-area: selectedTab;
    }
    .PlaceColumn{
        grid-column: 1/2;
    }
    .NameColumn{
        grid-column: 2/3;
    }
    .CountColumn{
        grid-column:3/4;
    }
    @media screen and (min-width: 600px){
        .RankingBox{
            max-width: 400px;
        }
    }
}