.GamesContainer {
    width: 80%;
}

.Matches{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}

.Match{
    min-width: 200px;
}

h1 {
    font-size: 1.1rem;
}

@media(min-width: 650px) {
    .Games {

    }
}