.GamesContainer {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1rem;
}

.Matches {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Match {
    min-width: 200px;
    margin-right: 5px;
    margin-top: 28px;
}

h1 {
    font-size: 1.1rem;
}

@supports(grid-area: auto) {
    @media(min-width: 600px) {
        .GamesContainer{
            grid-area: matches;
        }
        .Games{
            
        }
        .Matches {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 165px;
            grid-gap: 1;
        }
    }

    @media(min-width: 900px) {
        .Matches {
            grid-template-columns: 1fr 1fr;
        }
    }

    /* @media screen and (min-width: 1100px){
        .Matches{
            grid-template-columns: repeat(2, 340px);
        }
    } */
}