.GamesContainer {
    width: 80%;
    margin: 0 auto;
}

.Matches {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Match {
    min-width: 200px;
    margin-right: 5px;
}

h1 {
    font-size: 1.1rem;
}

@media(min-width: 650px) {
    .Games {}
}