.Breadcrumb{
    display: block;
    width: 100%;
    margin: 5px;
}

.Breadcrumb ul{
	list-style: none;
	margin: 0;
    padding-left: 0;
}

.Breadcrumb li{
    float:left;
    z-index:106;
}

.Arrow{
    display: inline-block;
}

@media(min-width:600px){
    .Breadcrumb{
     margin-left:100px;   
    }
}