.Breadcrumb{
    display: inline-block;
}

.Breadcrumb ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.Breadcrumb li{
    float:left;
    z-index:106;
}

.Arrow{
    display: inline-block;
}
