.Button{
    width: 250px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 5px auto;
}

.Button:hover{
    cursor: pointer;
}

.Green{
    background-color: #2C8693;
}

.Red{
    background-color: #F19722;
}
