.LandingPage{
    color: white;
    /* border: 2px solid white; */
    border-radius: 5px;
    margin: 0 auto;
    background-color: rgba(100,100,100,0.5);
    min-height: 400px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AcceptInviteButton{
    height: 40px;
    width:300px;
    margin: 10px;
    background-color:#F0F1D5;
    color: #C33325;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #C33325;
}

.AcceptInviteButton:hover{
    cursor: pointer;
}

.Sphere{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #C33325;
}

.MatchDetails div:first-child(){
    max-width: 300px;
    /* width:100%; */
}

@media screen and (min-width:600px){
    .LandingPage{
        width: 500px;
    }
}

