.Header {
    width: 100%;
    color: blue;
    background-color: #241f61;
}

.Header a {
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    color:white;
    margin-right: 10px;
}


.Header a:hover,
.Header a.active
{
    color: #f3b632;
}