.Header {
    width: 100%;
    height: 40px;
    background-color: #2C8693;
}

.TeamName{
    vertical-align: middle;
    color: #F0F1D5;
    font-size: 1.5rem;
    padding-top: 10px;
    text-align:center;
}

.HeaderLinks{
    display: none;
}

.NavLink{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.9rem;
    vertical-align: center;
    font-size: 1rem;
    margin-top: 2px;
    height: 100%;
    color: #F0F1D5;
    text-decoration: none;
    margin: 5px;
    padding: 2px 5px;
    margin-top: 10px;
    border-right: 1px solid #F0F1D5;
    width: initial;
}

@media(min-width: 600px){
    .HeaderLinks{
        display: inline-block;
        position: absolute;
        right:0px;
        height:30px;
    }

    .HeaderLinks li{
        display: inline-block;
    }

    .TeamName{
        display: inline-block;
        width: 50%;
        text-align: left;
        padding-left: 5px;
    }
}