.AddGame{
    margin: 0 auto;
    background-color: #326087;
    padding:20px;
    border-radius: 5px;
    height: 100%;
    color:#bfbfad;
}

.AddGame form > div{
    margin-bottom:10px;
}

.InputFields, .InputFields input{
    width: 80%;
    min-width: 350px;
    height: 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.InputFields label{
    color: #bfbfad;
}

@media(min-width: 650px){
    .AddGame{
        /* width:400px; */
    }
}