.AddGame{
    margin: 0 auto;
    background-color: #bfbfad;
    padding:20px;
    border-radius: 5px;
    height: 100%;
    color:#326087;
    text-align: center;
}

.AddGame form > div{
    margin-bottom:10px;
}

.ValidateWarning{
    color: #C33325;
    margin-bottom: 0;
}

.InputFields, .InputFields input{
    min-width: 350px;
    height: 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.InputFields label{
    color: #bfbfad;
}

/* @media(min-width: 650px){
    .AddGame{
        width:400px;
    }
} */