.Flexbox {
    /* height: 500px;    */
    box-shadow: 1px 1px black;
    z-index: 106;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 90vw;
    display: flex;
    justify-content: center;
}

.Hide {
    display: none;
}

@supports(grid-area: auto) {
    @media screen and (min-width: 650px) {
        .Flexbox {
            grid-area: main-content;
            width: 400px;
        }
    }
}