body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


 :global(.rdt) {
  position: relative;
}
:global(.rdtPicker) {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
:global(.rdtOpen) :global(.rdtPicker) {
  display: block;
}
:global(.rdtStatic) :global(.rdtPicker) {
  box-shadow: none;
  position: static;
}

:global(.rdtPicker) :global(.rdtTimeToggle) {
  text-align: center;
}

:global(.rdtPicker) table {
  width: 100%;
  margin: 0;
}
:global(.rdtPicker) td,
:global(.rdtPicker) th {
  text-align: center;
  height: 28px;
}
:global(.rdtPicker) td {
  cursor: pointer;
}
:global(.rdtPicker) :global(td.rdtDay):hover,
:global(.rdtPicker) :global(td.rdtHour):hover,
:global(.rdtPicker) :global(td.rdtMinute):hover,
:global(.rdtPicker) :global(td.rdtSecond):hover,
:global(.rdtPicker) :global(.rdtTimeToggle):hover {
  background: #eeeeee;
  cursor: pointer;
}
:global(.rdtPicker) :global(td.rdtOld),
:global(.rdtPicker) :global(td.rdtNew) {
  color: #999999;
}
:global(.rdtPicker) :global(td.rdtToday) {
  position: relative;
}
:global(.rdtPicker) :global(td.rdtToday):before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
:global(.rdtPicker) :global(td.rdtActive),
:global(.rdtPicker) :global(td.rdtActive):hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
:global(.rdtPicker) :global(td.rdtActive).rdtToday:before {
  border-bottom-color: #fff;
}
:global(.rdtPicker) :global(td.rdtDisabled),
:global(.rdtPicker) :global(td.rdtDisabled):hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

:global(.rdtPicker) td :global(span.rdtOld) {
  color: #999999;
}
:global(.rdtPicker) td :global(span.rdtDisabled),
:global(.rdtPicker) td :global(span.rdtDisabled):hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
:global(.rdtPicker) th {
  border-bottom: 1px solid #f9f9f9;
}
:global(.rdtPicker) :global(.dow) {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
:global(.rdtPicker) :global(th.rdtSwitch) {
  width: 100px;
}
:global(.rdtPicker) :global(th.rdtNext),
:global(.rdtPicker) :global(th.rdtPrev) {
  font-size: 21px;
  vertical-align: top;
}

:global(.rdtPrev) span,
:global(.rdtNext) span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

:global(.rdtPicker) :global(th.rdtDisabled),
:global(.rdtPicker) :global(th.rdtDisabled):hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
:global(.rdtPicker) thead tr:first-child th {
  cursor: pointer;
}
:global(.rdtPicker) thead tr:first-child th:hover {
  background: #eeeeee;
}

:global(.rdtPicker) tfoot {
  border-top: 1px solid #f9f9f9;
}

:global(.rdtPicker) button {
  border: none;
  background: none;
  cursor: pointer;
}
:global(.rdtPicker) button:hover {
  background-color: #eee;
}

:global(.rdtPicker) thead button {
  width: 100%;
  height: 100%;
}

:global(td.rdtMonth),
:global(td.rdtYear) {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
:global(td.rdtMonth):hover,
:global(td.rdtYear):hover {
  background: #eee;
}

:global(.rdtCounters) {
  display: inline-block;
}

:global(.rdtCounters) > div {
  float: left;
}

:global(.rdtCounter) {
  height: 100px;
}

:global(.rdtCounter) {
  width: 40px;
}

:global(.rdtCounterSeparator) {
  line-height: 100px;
}

:global(.rdtCounter) :global(.rdtBtn) {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
:global(.rdtCounter) :global(.rdtBtn):hover {
  background: #eee;
}
:global(.rdtCounter) :global(.rdtCount) {
  height: 20%;
  font-size: 1.2em;
}

:global(.rdtMilli) {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

:global(.rdtMilli) input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
:global(.rdtTime) td {
  cursor: default;
}
